@font-face {
    font-family: "cafe";
    src: url("ASSETS/cafe.ttf");
}



/* MAIN SITE AND HOME STYLING */

.site {
    font-family: "cafe";
    background-color: pink;
    display: grid;
    border: 2px solid black;
    border-radius: 30px 30px 30px 30px;
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "navbar navbar" "sidebar main" "sidebar footer";
}

.bodyHome {

    background-image: url("ASSETS/ka02-bg-simple.gif");
    background-color:rgb(255, 250, 243);
    margin: 2% 20% 10%;
}

.bodyHome nav {
    border-radius: 30px 30px 0 0;
    height: 200px;
    position:sticky;
    grid-area: navbar;
    background-color: blueviolet;
}

.bodyHome aside {
    border-radius: 0 0 0 30px;
    overflow: hidden;
    min-height: 105vh;
    position: sticky;
    align-self: start;
    background-color: orchid;
    grid-area: sidebar;

}

.bodyHome main {
    grid-area: main;
    font-size: 1.5em;
    overflow: hidden;
}

.introduction {
    position: sticky;
    overflow: hidden;
    overflow-y: scroll;
    height: 250px;  
}

.bodyHome footer {
    border-radius: 0 0 30px 0;
    grid-area: footer;
    padding: 2em;
    background-color: plum;
}


.bodyHome main img {
    float: right;
    width: 25%;
}

/* MAIN SITE AND HOME STYLING END */ 





/* PERSONALITY QUIZ */

.dailyQuiz {
    margin:0 ;
    background-color: lightpink;
    float:left;
    overflow:hidden;
    overflow-y:scroll;
    height: 100px;
    width: 500px;
}

.img {
    background-image: url("ASSETS/frill.gif");
}

.img2 {
    background-image: url("ASSETS/frill.gif");
}




/* SIDEBAR & DROPDOWN */


ul {
    text-align: center;
    list-style: none;
    background: green;
    padding: 0;
}

.navList ul li a {
    text-decoration: none;
    background-color: brown;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: royalblue;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: red;

}

ul li:hover ul.dropdown {

    display: block;
}

/* DROPDOWN */
