.site {
    background-color: pink;
    display: grid;
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "navbar navbar" "sidebar main" "sidebar footer";
}

.bodyHome {

    margin: 2% 20% 10%;
}

.bodyHome nav {
    position:sticky;
    grid-area: navbar;
    background-color: blueviolet;
}

.bodyHome aside {
    min-height: 105vh;
    position: sticky;
    align-self: start;
    background-color: orchid;
    grid-area: sidebar;
    align-items: center;
    text-align: center;
}

.bodyHome main {
    grid-area: main;
    font-size: 1.5em;
    overflow: hidden;
}

.introduction {
    position: sticky;
    overflow: hidden;
    overflow-y: scroll;
    height: 250px;  
}

.bodyHome footer {
    grid-area: footer;
    padding: 2em;
    background-color: plum;
}


.bodyHome main img {
    float: right;
    width: 25%;
}

/* PERSONALITY QUIZ */

.dailyQuiz {
    margin:0 ;
    background-color: lightpink;
    float:left;
    overflow:hidden;
    overflow-y:scroll;
    height: 100px;
    width: 500px;
}

.img {
    background-image: url("ASSETS/frill.gif");
}

.img2 {
    background-image: url("ASSETS/frill.gif");
    min-height: 94.5vh;
}
